### OS ###
.DS_*/

### IDE ###
.idea/

### Dependencies ###
node_modules/
.pnpm-store/

### Testing ###
coverage/
.nyc_output

### Outputs ###
dist/
build/

### Turbo ###
.turbo

### Etc ###
*.log
.npmrc
