### OS ###
.DS_*

### IDE ###
### Jetbrains ###
.idea

### Dependencies ###
node_modules/

### Testing ###
coverage/
.nyc_output

### Outputs ###
dist/
build/

### Documents ###
apps/documents/.docusaurus
apps/documents/.cache-loader
### Documents - GenerateFiles ###
apps/documents/docs

### Turbo ###
.turbo

### Etc ###
*.log
.npmrc