### OS ###
.DS_*

### IDE ###
### Jetbrains ###
.idea

### Dependencies ###
node_modules/
pnpm-lock.yaml

### Husky ###
.husky

### Testing ###
coverage/

### Outputs ###
dist/
build/

### Documents ###
.docusaurus/
.cache-loader/
### Documents - GenerateFiles ###
docs/

### Turbo ###
.turbo

### Etc ###
*.log
.github/**/*.md
**/CHANGELOG.md